.link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #999;
    padding: 0.5rem 1rem;
}

.linkBox:hover {
    background: #333;
}

.active,
.active:hover {
    background: #28d;
}

.active .link,
.link:hover {
    color: white;
}
