.box {
    background-color: #f0f0f0;
    margin: 0.2rem;
    padding: 0.4rem;
    position: relative;
}

.description {
    font-size: 1rem;
}

.removeBox {
    position: absolute;
    right: 3px;
    top: 3px;
}

.removeButton {
    background: rgb(200, 60, 60);
    color: white;
    padding: 3px;
}
