.classMatchupTable td,
.classMatchupTable th {
    border: 1px solid black;
    box-sizing: border-box;
    height: 2rem;
    padding: 0.1rem;
    width: 8rem;
}

.classMatchupTable .nonContentCell {
    border: none;
}

.verticalText {
    display: inline-block;
    overflow: hidden;
    width: 1.5rem;
}

.verticalTextInner {
    display: inline-block;
    line-height: 1.5;
    transform: translate(0, 100%) rotate(-90deg);
    transform-origin: 0 0;
    white-space: nowrap;
}

.verticalTextInner::after {
    content: "";
    display: block;
    margin: -1.5rem 0 100%;
}

.dataCell {
    font-size: 0.75rem;
    text-align: center;
}

.dataCell .wins {
    color: blue;
}

.dataCell .losses {
    color: #c00;
}
