.paginate {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    user-select: none;
}

.paginate li {
    display: inline-block;
}

.paginate a {
    display: inline-block;
    padding: 5px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    font-size: 0.8rem;
    font-weight: bold;
    color: #717171;
    text-shadow: 0 1 0 rgba(255, 255, 255, 1);
}

.paginate a:hover {
    cursor: pointer;
    background: #fefefe;
}

.paginate :global .selected a {
    background: #616161;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #f0f0f0;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.paginate :global .break a {
    cursor: default;
}
